$metal-font: "Metal Mania";
$skia-font: "Skia";
$red-color: rgb(255,0,0);
$grey-color: rgb(212,212,212);
$dark-grey: rgb(183,183,183);


@font-face {
  font-family: $skia-font;
  font-style: normal;
  font-weight: normal;
  src: local("Skia"),
    url("../resourses/fonts/ufonts.com_skia.woff") format("woff"),
    url("../resourses/fonts/SkiaRegular.ttf") format("ttf");
}
